import(ggplot2)
import(plyr)
importFrom("grDevices", "rgb")
importFrom("graphics", "axis", "hist", "layout", "lines", "plot", "points")
importFrom("methods", "is")
importFrom("stats", "dist", "kmeans", "runif")
importFrom("utils", "combn")
export(wrapFKM)
export(plotTC)
export(plotCS)
export(plotNcluster)
export(getStart)
export(extract)